<div #modalLogin class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="true" data-backdrop="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Inicia tu sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()">
                </button>
            </div>
            <div class="modal-body border-0">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" formControlName="email"
                            placeholder="Correo electrónico*" required>
                    </div>
                    <div class="form-group mb-5">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre*"
                            required>
                    </div>
                    <div class="mt-4">
                        <hr class="border-2">
                    </div>
                    <div class="d-flex align-items-center mt-4 mb-4 div-redes justify-content-center">
                        <p class="m-0 fw-bold">Regístrate con:</p>
                        <img src="../../../assets/img/google-icon.svg" class="redes">
                        <img src="../../../assets/img/facebook-icon.svg" class="redes">
                    </div>
                    <div class="d-flex align-items-center mt-4 mb-4 justify-content-center" id="botonRegistro">
                        <button type="submit" class="btn btn-verde"
                            [disabled]="!loginForm.valid">Empezar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>